@model IEnumerable<string>

<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-list"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right nav navbar-nav">
            @foreach (var link in Model)
            {
                string text;
                switch (link)
                {
                    case "ActiveSport": text = "Игровые виды спорта"; break;
                    case "WinterSport": text = "Зимние виды спорта"; break;
                    case "BrainSport": text = "Настольные игры"; break;
                    case "SportWear": text = "Одежда и аксессуары"; break;
                    default: text = "Error"; break;
                }
                <li>
                    @Html.RouteLink(text,
               new
               {
                   controller = "Product",
                   action = "List",
                   category = link,
                   page = 1
               })
                </li>
            }
        </ul>
    </li>
</ul>
  
