@using SportsStore.Domain.Entities 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.validate.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>
    <title>@ViewBag.Title</title>
    <script type="text/javascript">

        $(document).ready(function () {
            $(".buttonEdit").click(function () {
                var v = $(this).val();
                $.ajax({
                    url: '@Url.Action("Edit", "AdminProduct")',
                    //type: "GET",
                    //cashe: "false",
                    dataType: 'html',
                    data: { itemID: v },
                    success: function (data) {
                        // data is your result from controller
                        $('.myEdit').html(data);
                    },
                    error: function (xhr) {
                        alert("error");
                    }
                });
            });

        });

    </script>
</head>
@{

    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}
<body>
    <h2 class="text-center">Администрирование</h2>
    @{ Html.RenderAction("TablesName", "Admin"); }
    <div>
        @if (TempData["Message"] != null)
            {
            <div class="alert alert-success">@TempData["Message"]</div>
        }
        @RenderBody()
    </div>
    
</body>
</html>
