<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyle.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/CartScript.js"></script>
    <script src="~/scripts/ProductScript.js"></script>
    <script src="~/scripts/WishListOpenScript.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    @{ Html.RenderAction("Navbar", "Nav"); }

    <div class="row panel">
        <div>
            @if (TempData["Message"] != null)
            {
                <div class="alert alert-success">@TempData["Message"]</div>
            }
            @RenderBody()
        </div>
        <div id="wishListContainer"></div>
    </div>
</body>
</html>