@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h2>Вход на сайт</h2>
    </div>
    <div class="panel-body">
        
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>E-mail пользователя</label>
                @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Пароль</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
            <input value="Вход" type="submit" class="btn btn-primary"/>
            @Html.ActionLink("Регистрация", "Registration", new { @class = "btn btn-link" })
        }
    </div>
</div>


