@model SportsStore.Domain.Abstract.ICartRepository

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.Action("Index", "Cart")">
        <span class="glyphicon  glyphicon-shopping-cart"></span>
         Корзина<span id="totalQuantity" class="badge">@Model.GetUserCart().Sum(x=>x.Quantity)</span></a>
    </li>
</ul>


